.App {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;
    border: 0;

    background-color: #ebe8f2;

    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0;

    grid-template-areas: "saved current";
}

.saved-timers { grid-area: saved; }
.current-timer { grid-area: current; }

.saved-timers {
    display: flex;
    flex-direction: row;
    /*width: calc(3 * (300px + 22px));*/
    flex-wrap: wrap;
    align-content: flex-start;
}

.current-timer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*width: 100px;*/
    height: 40px;
    margin: 10px;

    border: 1px solid #bbb;
    border-radius: 7px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    background-color: #ddd;
}

.savedTimer .saved-edit-icon {
    display: none;
}

.savedTimer:hover .saved-edit-icon {
    display: initial;
}

/*input[type="time"]::-webkit-clear-button {*/
/*    display: none;*/
/*}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    appearance: none;
    /*-webkit-appearance: none;*/
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

